<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jatinder Singh</title>
  <link rel="stylesheet" href="../style.css">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
</head>
<body>
  <video autoplay muted loop id="myVideo">
    <source src="https://www.youtube.com/watch?v=2XX5zDThC3U&list=PLGmxyVGSCDKvmLInHxJ9VdiwEb82Lxd2E&index=2" type="video/mp4">
  </video>
    <style>
      #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
      }
    </style>
  
  <div class="card">
    <div class="img">
        <p style=" margin-top: 20px; text-align: center; font-size: 2rem; font-family: calibri; font-weight: bold; text-shadow: 1px 1px 1px gray;"> &lt;!--Developer--&gt;</p>
      <img src="https://jsbirdi0001.github.io/portfolio/jatinderSingh.png" alt="" style="position: absolute ; margin-left: 20px;bottom: 0" width="80%">
    </div>
    <div class="content">
      <h1 class="heading">Jatinder Singh</h1>
      <p class="title">Full Stack Developer (MEAN)</p>
      <address style="text-align: center; font-size: 0.8rem;">
          437-925-9755 <br>
          jatinderbirditech@gmail.com <br> <br>
          <a href="https://jsbirdiportfolio.herokuapp.com" class="website" target="_blank">
              https://jsbirdiportfolio.herokuapp.com
          </a>
      </address>
      
      
      <h4 class="social" style="font-family: 'Pacifico', cursive; letter-spacing: 0.15rem; font-weight: 200; font-size: 25px; margin-bottom: 4px;">Social Media</h4>
      
      <hr style="width: 40%; text-align: center; background-color: white">
      <div class="social-btn">
          <a href="https://www.linkedin.com/in/jsbirdi0001/" target="_blank">
              <span class="linkedin">
                 <i class="fab fa-linkedin"></i>
              </span>
          </a>
          <a href="https://github.com/jsbirdi0001" target="_blank">
              <span class="github">
                  <i class="fab fa-github-square"></i>
              </span>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100015430566805" target="_blank">
              <span class="facebook">
                  <i class="fab fa-facebook-square"></i>
              </span>
          </a>
      </div>
    </div>
  </div>
</body>
</html>