body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("https://media.giphy.com/media/2tMuOCL17ObOPNBdfV/giphy.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card{
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 303.33px;
  background: url("https://media0.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=790b76115d2512796e584a7141297cbf&rid=giphy.gif");
  /*background: url("https://previews.123rf.com/images/chumakova/chumakova1703/chumakova170300119/73951749-abstract-vector-background-in-trendy-retro-80s-90s-memphis-style-universal-card-pastel-colors-retro-.jpg");*/
  
  background-size: cover;
  background-position: center;
  transform-style: preserve-3d;
  transform: translate(-20%, -50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0,0,0,0.5), 0 20px 100px rgba(0,0,0,0.6);
  transition: 1s;
}
.card:hover{
  transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg) scale(1.5);
  box-shadow: inset 10px 0 50px rgba(0,0,0,0.5), 0 2px 100px rgba(0,0,0,0.5);
}
.card .img{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: 1s;
  overflow: hidden;
  background: url("https://media.giphy.com/media/l378wcSfS7eXWQgla/giphy.gif");
  /*background: url("https://previews.123rf.com/images/krulua/krulua1303/krulua130300054/18428889-abstract-retro-style-background-vector.jpg");*/
  background: url("https://as2.ftcdn.net/jpg/01/16/98/87/500_F_116988770_AQBK5ZcVcz5vGV2pUvP8YmKUtZyn7pP7.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid gray;
  box-shadow: inset 0 0 30px black;
  border-left: 10px dotted blue;
}
.card:hover .img{
  transform: rotateY(-135deg);
}
.content{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  color: white;
  font-family: calibri;
  text-shadow: 1px 1px 1px black;
}
.content h1, .content p{
    text-align: center;
    margin: 10px;
}

.title{
    border-radius: 20px;
    padding: 6px;
    border: 3px solid white;
    animation: colorChange 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes colorChange{
    0%, 100%{
        color: tomato;
        border-color: tomato;
    }
    33%{
        color: cyan;
        border-color: cyan;
    }
    66%{
        color: lightgreen;
        border-color: lightgreen;
    }
}
.social{
    margin: 10px;
    text-align: center;
}

.heading{
   background: linear-gradient(to bottom right, cyan, tomato, lightyellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Questrial', serif;
  text-shadow: 0 0 0 transparent;
}
.social-btn{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-shadow: 0 0 0 transparent;
    
}

.social-btn span{
    font-size: 30px;
    transition: 0.4s;
}
.social-btn span:hover i{
    font-size: 34px;
}
.linkedin{
    color: #0077B5;
    margin: 0;
    padding: 0;
}
.facebook{
    color: #4267b2;
}
.github{
    color: white;
}
address{
    line-height: 1.3rem;
}

.website{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px;
    text-decoration: none;
}
.website:hover{
    background-color: rgba(255,255,255,0.2);
    color: white;
}